<%- include("partials/header"); -%>
<div class="px-6 mt-2 md:mt-3 md:px-10 w-full max-w-[450px]">
<a class="bg-green-500 text-white px-2 py-2 rounded-md inline-block my-2 shadow-md" href="/">Batck to Home</a>
<h1 class="text-3xl font-medium">Compose</h1>
<form action="/compose" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
  <div class="form-group">
    <label class="form-label text-xl">Title</label>
    <input class="form-control" type="text" name="post[title]" required />
    <div class="invalid-feedback">Please add title.</div>
    <label class="form-label text-xl">Image</label>
    <input class="form-control" type="file" name="post[image]" required />
    <div class="invalid-feedback">Please upload an image.</div>
    <label class="form-label text-xl">Post</label>
    <textarea
      class="form-control"
      name="post[content]"
      rows="5"
      cols="30"
      required
    ></textarea>
    <div class="invalid-feedback">Please add content.</div>
  </div>
  <button class="btn btn-primary mt-3 shadow-md inline-block" type="submit">Publish</button>
</form>
</div>
<%- include("partials/footer"); -%>
